* {
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;
}

body * {
 font-family: "Poppins";
}

.poem1 {
 height: 100vh;
 width: 100%;
 background: url("https://images.unsplash.com/photo-1508898578281-774ac4893c0c");
 background-position: center;
 background-size: cover;
}

.poem1 pre {
 padding-top: 2rem;
 padding-bottom: 2rem;
 color: rgb(238, 226, 226);
 font-weight: 400;
 font-size: 1rem;
 letter-spacing: 0.1rem;
 line-height: 3rem;
}
pre span {
 color: rgb(185, 174, 174);
}
.poem1 {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.poem1 .img {
 width: 200px;
 height: 200px;
 transform: rotate(-10deg);
 box-shadow: 3px 3px 6px rgb(91, 84, 84), -3px -3px 6px rgb(201, 201, 201);
 border-top-left-radius: 50px;
 border-bottom-right-radius: 50px;
}
.poem1 .img img {
 border-top-left-radius: 50px;
 border-bottom-right-radius: 50px;
}

.two pre, .three pre, .four pre{
 font-size: 0.9rem;
 line-height: 2.5rem;
}

.two {
 background: url("https://images.unsplash.com/photo-1580616163219-f6004b0451a1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8bmlnaHR8fHx8fHwxNjU2ODc2NTE3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
}
.three {
 background: url("https://images.unsplash.com/photo-1558865869-c93f6f8482af?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YXJ0fHx8fHx8MTY1Nzk5MzM0MA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");

}
.four {
 background: url("https://images.unsplash.com/photo-1437751059337-ea72d4f73fcf?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8bmlnaHR8fHx8fHwxNjU3OTk0MzE2&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");

}
.three pre{
   color: black;
   font-weight: 600;
   backdrop-filter: blur(4px);
   border-radius: 150px;
   line-height: 2;
}
.four pre {
   color: rgb(232, 232, 232);
   font-weight: 600;
   backdrop-filter: blur(4px) ;
   border-radius: 150px;
   line-height: 2;
   padding: 2rem;
}

.poem1 strong{
   text-decoration: underline;
   margin-bottom: 2rem;
}



@media (max-width: 768px) {
 .poem1 {
  padding-top: 1rem;
  flex-direction: column;
  justify-content: flex-start;
 }
 .poem1 .img {
  width: 100px;
  height: 100px;
  order: 1;
  margin-top: 0rem;
  /* flex-grow: 1; */
  flex-shrink: 1;
  /* margin-top:5rem; */
 }
 .poem1 pre {
  order: 2;
  font-size: .9rem;
  /* flex-grow: 1; */
  flex-shrink: 1;
 }
 .poem1 {
  /* justify-content: center; */
 }
 .four pre {
   font-size: .8rem;
   line-height: 3;
}
}
